{% extends 'shop/base.html' %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script>
    function clickme()
    {
      alert("Product added Successfully in cart")
    }
  </script>
</body>
</html>







{% load static %}

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'shop/storeslide1.jpg' %}" height="480px" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'shop/storeslide2.jpg' %}" height="480px" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'shop/storeslide3.jpg' %}" height="480px" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div><br>

  
  <form action="/cart/cart" method="post">
    {% csrf_token %}
  <div class="row">
    {% for i in shop %}
    <div class="col-xl-3" id="d1">
  <div class="card" style="width: 18rem;">
    <img src="{{i.product_image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-title">{{i.product_id}}</p>
      <h6 class="card-text">{{i.product_name}}</h6>
     <!-- <p class="card-text">{{i.product_desc}}</p> -->
      <h2 class="card-text">{{i.product_price}}</h2>
      <button class="btn btn-primary" formaction="/shop/details" name="did" value="{{i.id}}">View Details</button> 
      <button type="submit" name="pid" class=" btn btn-primary" value="{{i.id}}" onclick="clickme()">Add To Cart</button>
      <a href="http://127.0.0.1:8000/reviews/add">Add Review</a>
    </div>
  </div>
    </div>
  {% endfor %}
</div>
</form>



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  #B{
    
    word-spacing: 3px;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
  }
</style>
<body>
  <div id="B">
  <center><h5>Shop By Category</h5><br></center>
  <h6>Dogs Food Category</h3>   
    <a href="/dogdry/home">Dogs Dry Food</a> |           
    <a href="/dogdry/home">Dogs Dry Food</a> |
    <a href="/dogwet/home">Dogs Wet Food</a> |
    <a href="/dogpuppy/home">Dogs Puppy Food</a> |
    <a href="/doggrain/home">Dogs Grain Food</a> |
    <a href="/dogbake/home">Dogs bake Food</a> |
    <a href="/dogveg/home">Dogs Veg Food</a> |
    <a href="/dogpremium/home">Dogs Premium Food</a> | <br><br>
    <h6>Cats Food Category</h6>
    <a href="/catdry/home">Cat Dry Food</a> |           
    <a href="/catwet/home">Cat Wet Food</a> |
    <a href="/kitten/home">Kitten Food</a> | <br><br>
    <h6>Contact Us</h6>
    <p>Gmail : giddepravin797@gmail.com | Contact No : 8010537525 | </p> <br><br>
    <h6 > You can view your favourite brands with price options for different products in one place. A user-friendly interface will guide you through your selection process. Comprehensive size charts, product information and high-resolution images help you make the best buying decisions. You also have the freedom to choose your payment options, be it card or cash-on-delivery. The 14-day returns policy gives you more power as a buyer. Additionally, the try-and-buy option for select products takes customer-friendliness to the next level.</h6>
</div>
</body>
</html>
  {% endblock %}