{% extends 'shop/base.html' %}

{% block body %}



<form method="post">
  {% csrf_token %}
<div class="row">
    {% for i in kitten %}
    <div class="col-xl-3" id="d1">
<div class="card" style="width: 18rem;">
    <img src="{{i.kitten_image.url}}" height="300px" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-title">{{i.kitten_id}}</p>
      <h6 class="card-title">{{i.kitten_name}}</h5>
     <!-- <p class="card-title">{{i.kitten_desc}}</p> -->
      <h2 class="card-text">{{i.kitten_price}}</h2>
      <button formaction="/kitten/details" name="did" value="{{i.id}}" class="btn-secondary">View details</button>
    </div>
  </div>
    </div>
  {% endfor %}
</div>
</form><br>




<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  #B{
    
    word-spacing: 3px;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
  }
</style>
<body>
  <div id="B">
  <center><h5>Shop By Category</h5><br></center>
  <h6>Dogs Food Category</h3>   
    <a href="/dogdry/home">Dogs Dry Food</a> |           
    <a href="/dogdry/home">Dogs Dry Food</a> |
    <a href="/dogwet/home">Dogs Wet Food</a> |
    <a href="/dogpuppy/home">Dogs Puppy Food</a> |
    <a href="/doggrain/home">Dogs Grain Food</a> |
    <a href="/dogbake/home">Dogs bake Food</a> |
    <a href="/dogveg/home">Dogs Veg Food</a> |
    <a href="/dogpremium/home">Dogs Premium Food</a> | <br><br>
    <h6>Cats Food Category</h6>
    <a href="/catdry/home">Cat Dry Food</a> |           
    <a href="/catwet/home">Cat Wet Food</a> |
    <a href="/kitten/home">Kitten Food</a> | <br><br>
    <h6>Contact Us</h6>
    <p>Gmail : giddepravin797@gmail.com | Contact No : 8010537525 | </p> <br><br>
    <h6 > You can view your favourite brands with price options for different products in one place. A user-friendly interface will guide you through your selection process. Comprehensive size charts, product information and high-resolution images help you make the best buying decisions. You also have the freedom to choose your payment options, be it card or cash-on-delivery. The 14-day returns policy gives you more power as a buyer. Additionally, the try-and-buy option for select products takes customer-friendliness to the next level.</h6>
</div>
</body>
</html>
{% endblock %}